---
import About from "./About.astro";
import SocialMedia from "./social-media/SocialMedia.astro";
import Education from "./education/Education.astro";
import Skills from "./skills/Skills.astro";
import Experience from "./experience/Experience.astro";
import BlogSwiper from "./blog-latest/BlogSwiper.astro";
import ButtonCollection from "./buttons/ButtonCollection.astro";
import PhotoCarousel from "../../layout/PhotoCarousel.astro";
import { getCollection } from "astro:content";

const profileInformation = await getCollection("profileInformation");
const profile = profileInformation[0];

const sortByEndDate = <T extends { endDate: string }>(items: T[]): T[] => {
  return items.sort((a, b) => {
    const yearA = a.endDate === "Present" ? new Date().getFullYear() : parseInt(a.endDate);
    const yearB = b.endDate === "Present" ? new Date().getFullYear() : parseInt(b.endDate);
    return yearB - yearA;
  });
};

const sortedEducation = sortByEndDate(profile.data.education);
const sortedExperience = sortByEndDate(profile.data.experience);

export interface Props {
  blogPosts: Array<{
    title: string;
    description: string;
    date: Date;
    author: string;
    tag: string;
    image?: string;
    draft: boolean;
    profileAuthorImage: Array<{
      alt: string;
      src: string;
    }>;
    slug: string;
    readTime: string;
  }>;
}

const { blogPosts } = Astro.props;
---

<div id="profile-content"
  class="flex flex-col md:flex-row w-full md:h-3/4 lg:h-4/6 md:max-h-96 md:p-4 gap-8 items-center justify-center max-w-6xl mx-auto"
>
  <PhotoCarousel gallery={profile.data.gallery} />

  <div class="flex flex-col w-full md:w-2/3 md:h-full md:overflow-y-auto">
    <div
      class="flex-1 pb-5 md:overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-200 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300"
    >
      <div class="flex flex-col lg:flex-row gap-6">
        <div class="w-full lg:w-2/3 flex flex-col gap-y-8 relative">
          <About 
            title={profile.data.title} 
            description={profile.data.description}
            badge={profile.data.badge}
          />
          <SocialMedia socialMedia={profile.data.socialMedia} />
          <Education education={sortedEducation}/>
          <Experience experiences={sortedExperience}/>
          <ButtonCollection />
        </div>

        <div class="w-full lg:w-1/3 flex flex-col gap-5">
          <Skills stack={profile.data.stack}/>
          <BlogSwiper posts={blogPosts} />
        </div>
      </div>
    </div>
  </div>
</div>
